<div class="container">
  <div class="row">
    <div *ngFor="let poster of posters" class="col-12 col-sm-8 col-md-6 col-lg-4">
      <app-poster-card [poster]="poster"></app-poster-card>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [(ngModel)]="pagination.currentPage"
      [itemsPerPage]="pagination.itemsPerPage"
      (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>