<!-- <div class="card mb-4">
  <div class="card-img-wrapper">
    <img class="card-img-top" src="{{poster.photoUrl}}">
  </div>
  
</div> -->
<div class="card">
  <img class="card-img" src="{{poster.photoUrl}}" alt="Bologna">
</div>
<div class="card-body text-white d-flex flex-column justify-content-center p-1">
  <h4 class="card-title text-center">{{poster.title}} | from ${{poster.price}}</h4>
  <h6 class="card-subtitle mb-2 text-center" style="color: #7f8c8d;">Emilia-Romagna Region, Italy</h6>
</div>

<!-- <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
  <h4 class="card-title" style="color: #f1c40f;">{{poster.title}}</h4>
  <h6 class="card-subtitle mb-2" style="color: #2C3A47;">Emilia-Romagna Region, Italy</h6>
  <div class="link d-flex">
    <a href="#" class="card-link text-warning">Read More</a>
    <a href="#" class="card-link text-warning">Book a Trip</a>
  </div>
</div> -->